In [184]:
import os
import sys

# 設定工作目錄為 src，以便正確導入 lib 和讀取 data
if os.getcwd().endswith("QIA-Final-Regression-Test"):
    os.chdir("src")

print(f"Current Working Directory: {os.getcwd()}")

Current Working Directory: /workspaces/QIA-Final-Regression-Test/src

## Sample one

### 模組一: 五日線、布林軌道
- 進場:突破上軌並且隔天沒有回跌昨天漲幅過半
- 出場:收盤價破布林軌道上軌

In [185]:
%reload_ext autoreload
%autoreload 2

# 使用範例
import pandas as pd
from lib.backtest.strategy_one import backtest_strategy



df1 = pd.read_csv("../data/TPE-sample1.csv", encoding="utf-8")
df1 = backtest_strategy(df1, ma_period=15, bb_period=20, bb_std=1.83, drop_threshold=0.72)
df1

,日期,開盤價,最高價,最低價,收盤價,成交量,MA5,BB_MA,BB_STD,BB_Upper,BB_Lower,prev_gain,ret,cus,position,BH
0,2012/06/01,7200,7210,7075,7100,148958,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0
1,2012/06/04,6927,6930,6832,6866,136278,NaN,NaN,NaN,NaN,NaN,-0.032958,0.0,0.0,0,-234
2,2012/06/05,6949,7005,6925,6973,119982,NaN,NaN,NaN,NaN,NaN,0.015584,0.0,0.0,0,-127
3,2012/06/06,6989,7055,6958,7013,119994,NaN,NaN,NaN,NaN,NaN,0.005736,0.0,0.0,0,-87
4,2012/06/07,7135,7146,7020,7045,109350,NaN,NaN,NaN,NaN,NaN,0.004563,0.0,0.0,0,-55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256,2017/07/11,10232,10356,10228,10342,141931,10280.200000,10252.40,88.406597,10414.184072,10090.615928,0.012929,0.0,1226.0,0,3242
1257,2017/07/12,10346,10383,10330,10339,114330,10278.200000,10266.10,78.514430,10409.781408,10122.418592,-0.000290,0.0,1226.0,0,3239
1258,2017/07/13,10393,10442,10371,10420,143543,10290.800000,10283.45,71.636124,10414.544106,10152.355894,0.007834,0.0,1226.0,0,3320
1259,2017/07/14,10420,10424,10391,10403,79383,10303.333333,10296.30,68.671683,10421.969179,10170.630821,-0.001631,-17.0,1209.0,0,3303
1260,2017/07/17,10458,10480,10414,10436,137588,10307.000000,10306.15,73.946122,10441.471403,10170.828597,0.003172,0.0,1209.0,0,3336

In [186]:
%reload_ext autoreload
%autoreload 2

from lib.performance_analysis import calculate_strategy_performance

# 從 position 欄位產生進出場訊號
# 當 position 從 0 變成 1 時，是進場訊號
df1['entry'] = (df1['position'] == 1) & (df1['position'].shift(1) == 0)

# 當 position 從 1 變成 0 時，是出場訊號
df1['exit'] = (df1['position'] == 0) & (df1['position'].shift(1) == 1)

# 計算策略績效
performance = calculate_strategy_performance(
    df1,
)

# 印出績效報告
performance_df = pd.DataFrame([performance])

# 存成csv檔案
# performance_df.T.to_csv('module_one.csv',
#                         header=['Value'],  # 欄位名稱 (y 軸)
#                         index_label='Metric')  # 列名 (x 軸)

performance_df.T

                               0
最終權益 (Mark-to-Market)     1209.0
淨利或淨損 (已實現)               1209.0
最大回撤 (MDD)                 164.0
總獲利 (已實現)                 1535.0
總損失 (已實現)                 -326.0
總交易次數                         30
賺錢交易次數                        19
虧錢交易次數                        11
勝率                        63.33%
單次交易最大獲利                   254.0
單次交易最大損失                   -99.0
獲利交易中的平均獲利             80.789474
損失交易中的平均損失            -29.636364
賺賠比                     2.726025
最長的連續性獲利的次數                    6
最長的連續性損失的次數                    3

### 模組二: 五日線和二十日線
- 進場:五日線在二十日線之上
- 出場:(開盤價格 + 收盤價格) / 2的值小於五日線

In [187]:
%reload_ext autoreload
%autoreload 2

import pandas as pd
from lib.backtest.strategy_two import backtest_strategy_two

df2 = pd.read_csv("../data/TPE-sample1.csv", encoding="utf-8")
df2 = backtest_strategy_two(df2, short_ma_period=7, long_ma_period=12)
df2

,日期,開盤價,最高價,最低價,收盤價,成交量,MA7,MA12,ret,cus,position,BH
0,2012/06/01,7200,7210,7075,7100,148958,NaN,NaN,0.0,0.0,0,0
1,2012/06/04,6927,6930,6832,6866,136278,NaN,NaN,0.0,0.0,0,-234
2,2012/06/05,6949,7005,6925,6973,119982,NaN,NaN,0.0,0.0,0,-127
3,2012/06/06,6989,7055,6958,7013,119994,NaN,NaN,0.0,0.0,0,-87
4,2012/06/07,7135,7146,7020,7045,109350,NaN,NaN,0.0,0.0,0,-55
...,...,...,...,...,...,...,...,...,...,...,...,...
1256,2017/07/11,10232,10356,10228,10342,141931,10261.285714,10282.333333,0.0,1747.0,0,3242
1257,2017/07/12,10346,10383,10330,10339,114330,10268.428571,10278.833333,0.0,1747.0,0,3239
1258,2017/07/13,10393,10442,10371,10420,143543,10297.428571,10283.166667,0.0,1747.0,0,3320
1259,2017/07/14,10420,10424,10391,10403,79383,10312.000000,10295.000000,0.0,1730.0,1,3303
1260,2017/07/17,10458,10480,10414,10436,137588,10336.142857,10306.583333,0.0,1763.0,1,3336

In [188]:
%reload_ext autoreload
%autoreload 2

from lib.performance_analysis import calculate_strategy_performance

# 計算策略績效
performance_two = calculate_strategy_performance(df2)

# 印出績效報告
performance_two_df = pd.DataFrame([performance_two])

# 存成csv檔案
# performance_two_df.T.to_csv('module_two.csv',
#                         header=['Value'],  # 欄位名稱 (y 軸)
#                         index_label='Metric')  # 列名 (x 軸)

performance_two_df.T

                                0
最終權益 (Mark-to-Market)      1763.0
淨利或淨損 (已實現)                1747.0
最大回撤 (MDD)                  422.0
總獲利 (已實現)                  3460.0
總損失 (已實現)                 -1713.0
總交易次數                          56
賺錢交易次數                         33
虧錢交易次數                         23
勝率                         58.93%
單次交易最大獲利                    343.0
單次交易最大損失                   -168.0
獲利交易中的平均獲利             104.848485
損失交易中的平均損失             -74.478261
賺賠比                      1.407773
最長的連續性獲利的次數                     4
最長的連續性損失的次數                     3

### 模組三: 裸K
- 進場:過去三天、五天、十天均價程不斷墊高
- 出場:近三天均價低於近五天均價

In [189]:
%reload_ext autoreload
%autoreload 2

import pandas as pd
from lib.backtest.strategy_three import backtest_strategy_three

df3 = pd.read_csv("../data/TPE-sample1.csv", encoding="utf-8")
df3 = backtest_strategy_three(df3)
df3

,日期,開盤價,最高價,最低價,收盤價,成交量,MA3,MA5,MA10,ret,cus,position,BH
0,2012/06/01,7200,7210,7075,7100,148958,NaN,NaN,NaN,0.0,0.0,0,0
1,2012/06/04,6927,6930,6832,6866,136278,NaN,NaN,NaN,0.0,0.0,0,-234
2,2012/06/05,6949,7005,6925,6973,119982,6979.666667,NaN,NaN,0.0,0.0,0,-127
3,2012/06/06,6989,7055,6958,7013,119994,6950.666667,NaN,NaN,0.0,0.0,0,-87
4,2012/06/07,7135,7146,7020,7045,109350,7010.333333,6999.4,NaN,0.0,0.0,0,-55
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256,2017/07/11,10232,10356,10228,10342,141931,10251.666667,10264.6,10263.9,0.0,925.0,0,3242
1257,2017/07/12,10346,10383,10330,10339,114330,10297.000000,10272.2,10271.7,0.0,925.0,0,3239
1258,2017/07/13,10393,10442,10371,10420,143543,10367.000000,10302.8,10284.0,0.0,952.0,1,3320
1259,2017/07/14,10420,10424,10391,10403,79383,10387.333333,10342.8,10299.1,0.0,935.0,1,3303
1260,2017/07/17,10458,10480,10414,10436,137588,10419.666667,10388.0,10313.8,0.0,968.0,1,3336

In [190]:
%reload_ext autoreload
%autoreload 2

from lib.performance_analysis import calculate_strategy_performance

# 計算策略績效
performance_three = calculate_strategy_performance(df3)

# 印出績效報告
performance_three_df = pd.DataFrame([performance_three])

# 存成csv檔案
# performance_three_df.T.to_csv('module_three.csv',
#                         header=['Value'],  # 欄位名稱 (y 軸)
#                         index_label='Metric')  # 列名 (x 軸)

performance_three_df.T

                                0
最終權益 (Mark-to-Market)       968.0
淨利或淨損 (已實現)                 925.0
最大回撤 (MDD)                  832.0
總獲利 (已實現)                  4772.0
總損失 (已實現)                 -3847.0
總交易次數                          96
賺錢交易次數                         45
虧錢交易次數                         51
勝率                         46.88%
單次交易最大獲利                    326.0
單次交易最大損失                   -298.0
獲利交易中的平均獲利             106.044444
損失交易中的平均損失             -75.431373
賺賠比                       1.40584
最長的連續性獲利的次數                     4
最長的連續性損失的次數                     5

### 模組四: 五日線、布林軌道 - 延伸
- 進場:碰到布林上軌，做空；碰到布林下軌；做多。
- 出場:五日線超過上軌或下軌(多空都是)

In [191]:
%reload_ext autoreload
%autoreload 2

# 使用範例
import pandas as pd
from lib.backtest.strategy_four import backtest_strategy_four



df4 = pd.read_csv("../data/TPE-sample1.csv", encoding="utf-8")
# df4 = backtest_strategy_four(df4, bb_period=8,bb_std=1.59, ma_long_period=12)
df4 = backtest_strategy_four(df4, bb_period=5,bb_std=0.62, ma_long_period=6)
df4

,日期,開盤價,最高價,最低價,收盤價,成交量,BB_MA,BB_STD,BB_Upper,BB_Lower,BB_MA5,MA6,ret,cus,position,BH
0,2012/06/01,7200,7210,7075,7100,148958,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0,0
1,2012/06/04,6927,6930,6832,6866,136278,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0,-234
2,2012/06/05,6949,7005,6925,6973,119982,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0,-127
3,2012/06/06,6989,7055,6958,7013,119994,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0,-87
4,2012/06/07,7135,7146,7020,7045,109350,6999.4,87.859547,7053.872919,6944.927081,6999.4,NaN,0.0,0.000000,0,-55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256,2017/07/11,10232,10356,10228,10342,141931,10264.6,59.365815,10301.406805,10227.793195,10264.6,10256.666667,0.0,12431.410077,0,3242
1257,2017/07/12,10346,10383,10330,10339,114330,10272.2,67.117062,10313.812578,10230.587422,10272.2,10277.000000,0.0,12431.410077,0,3239
1258,2017/07/13,10393,10442,10371,10420,143543,10302.8,93.748067,10360.923801,10244.676199,10302.8,10296.833333,0.0,12431.410077,0,3320
1259,2017/07/14,10420,10424,10391,10403,79383,10342.8,82.514847,10393.959205,10291.640795,10342.8,10319.500000,0.0,12431.410077,0,3303
1260,2017/07/17,10458,10480,10414,10436,137588,10388.0,44.916589,10415.848285,10360.151715,10388.0,10358.333333,0.0,12431.410077,0,3336

In [192]:
%reload_ext autoreload
%autoreload 2

from lib.performance_analysis import calculate_strategy_performance

# 從 position 欄位產生進出場訊號
df4['entry'] = (df4['position'] == 1) & (df4['position'].shift(1) == 0)
df4['exit'] = (df4['position'] == 0) & (df4['position'].shift(1) == 1)

# 計算策略績效
perf_s1_m4 = calculate_strategy_performance(df4)

# 印出績效報告
performance_df = pd.DataFrame([perf_s1_m4])
performance_df.T

                                  0
最終權益 (Mark-to-Market)  12431.410077
淨利或淨損 (已實現)            12431.410077
最大回撤 (MDD)               278.991579
總獲利 (已實現)              14379.842762
總損失 (已實現)              -1948.432685
總交易次數                           266
賺錢交易次數                          237
虧錢交易次數                           29
勝率                           89.10%
單次交易最大獲利                 209.634095
單次交易最大損失                -191.122195
獲利交易中的平均獲利                60.674442
損失交易中的平均損失               -67.187334
賺賠比                        0.903064
最長的連續性獲利的次數                      29
最長的連續性損失的次數                       2

### Sample One - 績效總覽

In [193]:
# Sample One 績效總覽
import pandas as pd

summary_s1 = pd.DataFrame({
    '模組一': performance,
    '模組二': performance_two,
    '模組三': performance_three,
    '模組四': perf_s1_m4
})

summary_s1

                             模組一         模組二         模組三           模組四
最終權益 (Mark-to-Market)     1209.0      1763.0       968.0  12431.410077
淨利或淨損 (已實現)               1209.0      1747.0       925.0  12431.410077
最大回撤 (MDD)                 164.0       422.0       832.0    278.991579
總獲利 (已實現)                 1535.0      3460.0      4772.0  14379.842762
總損失 (已實現)                 -326.0     -1713.0     -3847.0  -1948.432685
總交易次數                         30          56          96           266
賺錢交易次數                        19          33          45           237
虧錢交易次數                        11          23          51            29
勝率                        63.33%      58.93%      46.88%        89.10%
單次交易最大獲利                   254.0       343.0       326.0    209.634095
單次交易最大損失                   -99.0      -168.0      -298.0   -191.122195
獲利交易中的平均獲利             80.789474  104.848485  106.044444     60.674442
損失交易中的平均損失            -29.636364  -74.478261  -75.431373    -67.187334
賺賠比                     2.726025    1.407773     1.40584      0.903064
最長的連續性獲利的次數                    6           4           4            29
最長的連續性損失的次數                    3           3           5             2

## Sample two

### sample two - module one
- bb_period=26
- bb_std=1.75
- drop_threshold=0.65

In [194]:
%reload_ext autoreload
%autoreload 2

# 使用範例
import pandas as pd
from lib.backtest.strategy_one import backtest_strategy



df1 = pd.read_csv("../data/TPE-sample2.csv", encoding="utf-8")
df1 = backtest_strategy(df1, ma_period=15, bb_period=20, bb_std=1.83, drop_threshold=0.72)
df1

,年月日,開盤價,最高價,最低價,收盤價,成交量,MA5,BB_MA,BB_STD,BB_Upper,BB_Lower,prev_gain,ret,cus,position,BH
0,2006/01/02,6457.61,6492.92,6424.03,6462.06,4697272,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,0,0.00
1,2006/01/03,6476.20,6591.77,6457.09,6591.77,5214136,NaN,NaN,NaN,NaN,NaN,0.020073,0.0,0.00,0,129.71
2,2006/01/04,6658.32,6670.96,6579.66,6616.44,5910064,NaN,NaN,NaN,NaN,NaN,0.003743,0.0,0.00,0,154.38
3,2006/01/05,6669.80,6717.12,6666.84,6709.87,5851695,NaN,NaN,NaN,NaN,NaN,0.014121,0.0,0.00,0,247.81
4,2006/01/06,6757.41,6761.01,6676.65,6694.82,5904757,NaN,NaN,NaN,NaN,NaN,-0.002243,0.0,0.00,0,232.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1488,2011/12/26,7125.04,7125.67,7078.06,7092.58,2535001,6907.679333,6946.2705,148.660315,7218.318877,6674.222123,-0.002552,0.0,226.93,0,630.52
1489,2011/12/27,7085.50,7107.67,7043.64,7085.03,2489290,6916.262667,6951.0895,151.638701,7228.588323,6673.590677,-0.001064,0.0,226.93,0,622.97
1490,2011/12/28,7086.10,7093.47,7036.92,7056.67,2535123,6917.840667,6958.7170,152.982481,7238.674940,6678.759060,-0.004003,0.0,226.93,0,594.61
1491,2011/12/29,7026.86,7074.82,6998.97,7074.82,2222251,6923.968667,6953.5235,146.758213,7222.091030,6684.955970,0.002572,0.0,226.93,0,612.76
1492,2011/12/30,7109.85,7139.03,7054.79,7072.08,2529183,6935.887333,6950.0935,142.904878,7211.609426,6688.577574,-0.000387,0.0,226.93,0,610.02

In [195]:
from lib.performance_analysis import calculate_strategy_performance

# 從 position 欄位產生進出場訊號
df1['entry'] = (df1['position'] == 1) & (df1['position'].shift(1) == 0)
df1['exit'] = (df1['position'] == 0) & (df1['position'].shift(1) == 1)

# 計算策略績效
perf_s2_m1 = calculate_strategy_performance(df1)
performance_df = pd.DataFrame([perf_s2_m1])
performance_df.T

                                0
最終權益 (Mark-to-Market)      226.93
淨利或淨損 (已實現)                226.93
最大回撤 (MDD)                 514.66
總獲利 (已實現)                 1841.11
總損失 (已實現)                -1614.18
總交易次數                          44
賺錢交易次數                         16
虧錢交易次數                         28
勝率                         36.36%
單次交易最大獲利                   293.53
單次交易最大損失                  -183.77
獲利交易中的平均獲利             115.069375
損失交易中的平均損失             -57.649286
賺賠比                      1.996024
最長的連續性獲利的次數                     4
最長的連續性損失的次數                     7

### sample two - module two
- short_ma_period=7
- long_ma_period=12

In [196]:
%reload_ext autoreload
%autoreload 2

import pandas as pd
from lib.backtest.strategy_two import backtest_strategy_two

df2 = pd.read_csv("../data/TPE-sample2.csv", encoding="utf-8")
df2 = backtest_strategy_two(df2, short_ma_period=7, long_ma_period=12)
df2

,年月日,開盤價,最高價,最低價,收盤價,成交量,MA7,MA12,ret,cus,position,BH
0,2006/01/02,6457.61,6492.92,6424.03,6462.06,4697272,NaN,NaN,0.0,0.00,0,0.00
1,2006/01/03,6476.20,6591.77,6457.09,6591.77,5214136,NaN,NaN,0.0,0.00,0,129.71
2,2006/01/04,6658.32,6670.96,6579.66,6616.44,5910064,NaN,NaN,0.0,0.00,0,154.38
3,2006/01/05,6669.80,6717.12,6666.84,6709.87,5851695,NaN,NaN,0.0,0.00,0,247.81
4,2006/01/06,6757.41,6761.01,6676.65,6694.82,5904757,NaN,NaN,0.0,0.00,0,232.76
...,...,...,...,...,...,...,...,...,...,...,...,...
1488,2011/12/26,7125.04,7125.67,7078.06,7092.58,2535001,6888.171429,6886.917500,0.0,597.94,0,630.52
1489,2011/12/27,7085.50,7107.67,7043.64,7085.03,2489290,6931.020000,6902.895000,0.0,597.47,1,622.97
1490,2011/12/28,7086.10,7093.47,7036.92,7056.67,2535123,6991.497143,6911.864167,0.0,569.11,1,594.61
1491,2011/12/29,7026.86,7074.82,6998.97,7074.82,2222251,7050.380000,6926.740000,0.0,587.26,1,612.76
1492,2011/12/30,7109.85,7139.03,7054.79,7072.08,2529183,7065.465714,6939.199167,0.0,584.52,1,610.02

In [197]:
from lib.performance_analysis import calculate_strategy_performance

# 計算策略績效
perf_s2_m2 = calculate_strategy_performance(df2)
performance_df = pd.DataFrame([perf_s2_m2])
performance_df.T

                                0
最終權益 (Mark-to-Market)      584.52
淨利或淨損 (已實現)                597.94
最大回撤 (MDD)                1467.57
總獲利 (已實現)                 4748.04
總損失 (已實現)                 -4150.1
總交易次數                          63
賺錢交易次數                         25
虧錢交易次數                         38
勝率                         39.68%
單次交易最大獲利                   681.63
單次交易最大損失                   -507.5
獲利交易中的平均獲利               189.9216
損失交易中的平均損失            -109.213158
賺賠比                      1.738999
最長的連續性獲利的次數                     5
最長的連續性損失的次數                     5

### sample two - module three
- ma_short=2
- ma_medium=8
- ma_long=14

In [198]:
%reload_ext autoreload
%autoreload 2

import pandas as pd
from lib.backtest.strategy_three import backtest_strategy_three

df3 = pd.read_csv("../data/TPE-sample2.csv", encoding="utf-8")
df3 = backtest_strategy_three(df3)
df3

,年月日,開盤價,最高價,最低價,收盤價,成交量,MA3,MA5,MA10,ret,cus,position,BH
0,2006/01/02,6457.61,6492.92,6424.03,6462.06,4697272,NaN,NaN,NaN,0.00,0.00,0,0.00
1,2006/01/03,6476.20,6591.77,6457.09,6591.77,5214136,NaN,NaN,NaN,0.00,0.00,0,129.71
2,2006/01/04,6658.32,6670.96,6579.66,6616.44,5910064,6556.756667,NaN,NaN,0.00,0.00,0,154.38
3,2006/01/05,6669.80,6717.12,6666.84,6709.87,5851695,6639.360000,NaN,NaN,0.00,0.00,0,247.81
4,2006/01/06,6757.41,6761.01,6676.65,6694.82,5904757,6673.710000,6614.992,NaN,0.00,0.00,0,232.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1488,2011/12/26,7125.04,7125.67,7078.06,7092.58,2535001,7056.553333,6959.756,6880.067,0.00,903.86,1,630.52
1489,2011/12/27,7085.50,7107.67,7043.64,7085.03,2489290,7096.113333,7044.234,6898.939,0.00,896.31,1,622.97
1490,2011/12/28,7086.10,7093.47,7036.92,7056.67,2535123,7078.093333,7062.272,6912.349,0.00,867.95,1,594.61
1491,2011/12/29,7026.86,7074.82,6998.97,7074.82,2222251,7072.173333,7083.966,6943.372,-50.22,886.10,0,612.76
1492,2011/12/30,7109.85,7139.03,7054.79,7072.08,2529183,7067.856667,7076.236,6972.071,0.00,886.10,0,610.02

In [199]:
from lib.performance_analysis import calculate_strategy_performance

# 計算策略績效
perf_s2_m3 = calculate_strategy_performance(df3)
performance_df = pd.DataFrame([perf_s2_m3])
performance_df.T

                                0
最終權益 (Mark-to-Market)       886.1
淨利或淨損 (已實現)                 886.1
最大回撤 (MDD)                2104.63
總獲利 (已實現)                 8449.34
總損失 (已實現)                -7563.24
總交易次數                         110
賺錢交易次數                         44
虧錢交易次數                         66
勝率                         40.00%
單次交易最大獲利                   825.31
單次交易最大損失                  -382.89
獲利交易中的平均獲利             192.030455
損失交易中的平均損失            -114.594545
賺賠比                      1.675738
最長的連續性獲利的次數                     5
最長的連續性損失的次數                    11

### sample two - module four
- bb_period=8
- bb_std=1.59
- ma_long_period=12

In [200]:
%reload_ext autoreload
%autoreload 2

# 使用範例
import pandas as pd
from lib.backtest.strategy_four import backtest_strategy_four



df4 = pd.read_csv("../data/TPE-sample2.csv", encoding="utf-8")
# df4 = backtest_strategy_four(df4, bb_period=8,bb_std=1.59, ma_long_period=12)
df4 = backtest_strategy_four(df4, bb_period=5,bb_std=0.62, ma_long_period=6)
df4

,年月日,開盤價,最高價,最低價,收盤價,成交量,BB_MA,BB_STD,BB_Upper,BB_Lower,BB_MA5,MA6,ret,cus,position,BH
0,2006/01/02,6457.61,6492.92,6424.03,6462.06,4697272,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0,0.00
1,2006/01/03,6476.20,6591.77,6457.09,6591.77,5214136,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0,129.71
2,2006/01/04,6658.32,6670.96,6579.66,6616.44,5910064,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0,154.38
3,2006/01/05,6669.80,6717.12,6666.84,6709.87,5851695,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0,247.81
4,2006/01/06,6757.41,6761.01,6676.65,6694.82,5904757,6614.992,99.126055,6676.450154,6553.533846,6614.992,NaN,0.000000,0.000000,0,232.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1488,2011/12/26,7125.04,7125.67,7078.06,7092.58,2535001,6959.756,179.444960,7071.011875,6848.500125,6959.756,6905.351667,0.000000,12342.701990,0,630.52
1489,2011/12/27,7085.50,7107.67,7043.64,7085.03,2489290,7044.234,71.650138,7088.657086,6999.810914,7044.234,6980.635000,0.000000,12342.701990,0,622.97
1490,2011/12/28,7086.10,7093.47,7036.92,7056.67,2535123,7062.272,57.046235,7097.640666,7026.903334,7062.272,7046.306667,0.000000,12342.701990,0,594.61
1491,2011/12/29,7026.86,7074.82,6998.97,7074.82,2222251,7083.966,20.126883,7096.444668,7071.487332,7083.966,7064.363333,0.000000,12346.034657,1,612.76
1492,2011/12/30,7109.85,7139.03,7054.79,7072.08,2529183,7076.236,13.661685,7084.706245,7067.765755,7076.236,7081.985000,13.218912,12368.547146,-1,610.02

In [201]:
%reload_ext autoreload
%autoreload 2

from lib.performance_analysis import calculate_strategy_performance

# 從 position 欄位產生進出場訊號
df4['entry'] = (df4['position'] == 1) & (df4['position'].shift(1) == 0)
df4['exit'] = (df4['position'] == 0) & (df4['position'].shift(1) == 1)

# 計算策略績效
perf_s2_m4 = calculate_strategy_performance(df4)

# 印出績效報告
performance_df = pd.DataFrame([perf_s2_m4])
performance_df.T

                                  0
最終權益 (Mark-to-Market)  12368.547146
淨利或淨損 (已實現)            12355.920902
最大回撤 (MDD)               743.515395
總獲利 (已實現)              17282.282969
總損失 (已實現)              -4926.362068
總交易次數                           238
賺錢交易次數                          198
虧錢交易次數                           40
勝率                           83.19%
單次交易最大獲利                 285.443472
單次交易最大損失                -554.167046
獲利交易中的平均獲利                87.284257
損失交易中的平均損失              -123.159052
賺賠比                        0.708712
最長的連續性獲利的次數                      20
最長的連續性損失的次數                       3

### Sample Two - 績效總覽

In [202]:
# Sample Two 績效總覽
import pandas as pd

summary_s2 = pd.DataFrame({
    '模組一': perf_s2_m1,
    '模組二': perf_s2_m2,
    '模組三': perf_s2_m3,
    '模組四': perf_s2_m4
})

summary_s2

                              模組一         模組二         模組三           模組四
最終權益 (Mark-to-Market)      226.93      584.52       886.1  12368.547146
淨利或淨損 (已實現)                226.93      597.94       886.1  12355.920902
最大回撤 (MDD)                 514.66     1467.57     2104.63    743.515395
總獲利 (已實現)                 1841.11     4748.04     8449.34  17282.282969
總損失 (已實現)                -1614.18     -4150.1    -7563.24  -4926.362068
總交易次數                          44          63         110           238
賺錢交易次數                         16          25          44           198
虧錢交易次數                         28          38          66            40
勝率                         36.36%      39.68%      40.00%        83.19%
單次交易最大獲利                   293.53      681.63      825.31    285.443472
單次交易最大損失                  -183.77      -507.5     -382.89   -554.167046
獲利交易中的平均獲利             115.069375    189.9216  192.030455     87.284257
損失交易中的平均損失             -57.649286 -109.213158 -114.594545   -123.159052
賺賠比                      1.996024    1.738999    1.675738      0.708712
最長的連續性獲利的次數                     4           5           5            20
最長的連續性損失的次數                     7           5          11             3

## Sample three

### sample three - module one
- bb_period=26
- bb_std=1.75
- drop_threshold=0.65

In [203]:
%reload_ext autoreload
%autoreload 2

# 使用範例
import pandas as pd
from lib.backtest.strategy_one import backtest_strategy



df1 = pd.read_csv("../data/TPE-sample3.csv", encoding="utf-8")
df1 = backtest_strategy(df1, ma_period=15, bb_period=20, bb_std=1.83, drop_threshold=0.72)
df1

,年月日,開盤價,最高價,最低價,收盤價,成交量,MA5,BB_MA,BB_STD,BB_Upper,BB_Lower,prev_gain,ret,cus,position,BH
0,2017/07/18,10447.47,10481.26,10429.85,10481.26,4840898,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,0,0.00
1,2017/07/19,10472.81,10537.42,10472.81,10506.10,5429199,NaN,NaN,NaN,NaN,NaN,0.002370,0.0,0.00,0,24.84
2,2017/07/20,10513.12,10534.52,10483.54,10499.36,5016236,NaN,NaN,NaN,NaN,NaN,-0.000642,0.0,0.00,0,18.10
3,2017/07/21,10468.47,10477.72,10428.56,10436.70,4167695,NaN,NaN,NaN,NaN,NaN,-0.005968,0.0,0.00,0,-44.56
4,2017/07/24,10426.13,10461.28,10406.81,10461.28,3935837,NaN,NaN,NaN,NaN,NaN,0.002355,0.0,0.00,0,-19.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1323,2022/12/07,14708.08,14823.15,14630.01,14630.01,6813484,14711.468667,14572.0955,354.818202,15221.412809,13922.778191,-0.006713,0.0,3536.77,0,4148.75
1324,2022/12/08,14631.21,14634.16,14464.20,14553.04,5406640,14712.656000,14624.5595,250.892734,15083.693203,14165.425797,-0.005261,0.0,3536.77,0,4071.78
1325,2022/12/09,14620.27,14742.79,14620.27,14705.43,5485304,14726.018667,14659.4530,204.874370,15034.373097,14284.532903,0.010471,0.0,3536.77,0,4224.17
1326,2022/12/12,14658.46,14658.46,14538.66,14612.59,4583948,14736.898667,14681.3375,170.960529,14994.195268,14368.479732,-0.006313,0.0,3536.77,0,4131.33
1327,2022/12/13,14617.86,14658.70,14515.74,14522.96,4932595,14735.616000,14680.1700,172.007694,14994.944081,14365.395919,-0.006134,0.0,3536.77,0,4041.70

In [204]:
from lib.performance_analysis import calculate_strategy_performance

# 從 position 欄位產生進出場訊號
df1['entry'] = (df1['position'] == 1) & (df1['position'].shift(1) == 0)
df1['exit'] = (df1['position'] == 0) & (df1['position'].shift(1) == 1)

# 計算策略績效
perf_s3_m1 = calculate_strategy_performance(df1)
performance_df = pd.DataFrame([perf_s3_m1])
performance_df.T

                                0
最終權益 (Mark-to-Market)     3536.77
淨利或淨損 (已實現)               3536.77
最大回撤 (MDD)                 352.85
總獲利 (已實現)                  4086.5
總損失 (已實現)                 -549.73
總交易次數                          28
賺錢交易次數                         17
虧錢交易次數                         11
勝率                         60.71%
單次交易最大獲利                  1125.04
單次交易最大損失                  -103.08
獲利交易中的平均獲利             240.382353
損失交易中的平均損失             -49.975455
賺賠比                      4.810008
最長的連續性獲利的次數                     6
最長的連續性損失的次數                     3

### sample three - module two
- short_ma_period=7
- long_ma_period=12

In [205]:
%reload_ext autoreload
%autoreload 2

import pandas as pd
from lib.backtest.strategy_two import backtest_strategy_two

df2 = pd.read_csv("../data/TPE-sample3.csv", encoding="utf-8")
df2 = backtest_strategy_two(df2, short_ma_period=7, long_ma_period=12)
df2

,年月日,開盤價,最高價,最低價,收盤價,成交量,MA7,MA12,ret,cus,position,BH
0,2017/07/18,10447.47,10481.26,10429.85,10481.26,4840898,NaN,NaN,0.0,0.00,0,0.00
1,2017/07/19,10472.81,10537.42,10472.81,10506.10,5429199,NaN,NaN,0.0,0.00,0,24.84
2,2017/07/20,10513.12,10534.52,10483.54,10499.36,5016236,NaN,NaN,0.0,0.00,0,18.10
3,2017/07/21,10468.47,10477.72,10428.56,10436.70,4167695,NaN,NaN,0.0,0.00,0,-44.56
4,2017/07/24,10426.13,10461.28,10406.81,10461.28,3935837,NaN,NaN,0.0,0.00,0,-19.98
...,...,...,...,...,...,...,...,...,...,...,...,...
1323,2022/12/07,14708.08,14823.15,14630.01,14630.01,6813484,14844.614286,14765.201667,0.0,5772.75,0,4148.75
1324,2022/12/08,14631.21,14634.16,14464.20,14553.04,5406640,14822.242857,14766.105000,0.0,5772.75,0,4071.78
1325,2022/12/09,14620.27,14742.79,14620.27,14705.43,5485304,14797.368571,14774.179167,0.0,5772.75,0,4224.17
1326,2022/12/12,14658.46,14658.46,14538.66,14612.59,4583948,14740.195714,14759.895000,0.0,5772.75,0,4131.33
1327,2022/12/13,14617.86,14658.70,14515.74,14522.96,4932595,14676.235714,14738.599167,0.0,5772.75,0,4041.70

In [206]:
from lib.performance_analysis import calculate_strategy_performance

# 計算策略績效
perf_s3_m2 = calculate_strategy_performance(df2)
performance_df = pd.DataFrame([perf_s3_m2])
performance_df.T

                                0
最終權益 (Mark-to-Market)     5772.75
淨利或淨損 (已實現)               5772.75
最大回撤 (MDD)                1088.23
總獲利 (已實現)                 9909.76
總損失 (已實現)                -4137.01
總交易次數                          57
賺錢交易次數                         26
虧錢交易次數                         31
勝率                         45.61%
單次交易最大獲利                  1615.09
單次交易最大損失                  -658.98
獲利交易中的平均獲利             381.144615
損失交易中的平均損失            -133.451935
賺賠比                      2.856044
最長的連續性獲利的次數                     4
最長的連續性損失的次數                     4

### sample three - module three
- ma_short=2
- ma_medium=8
- ma_long=14

In [207]:
%reload_ext autoreload
%autoreload 2

import pandas as pd
from lib.backtest.strategy_three import backtest_strategy_three

df3 = pd.read_csv("../data/TPE-sample3.csv", encoding="utf-8")
df3 = backtest_strategy_three(df3)
df3

,年月日,開盤價,最高價,最低價,收盤價,成交量,MA3,MA5,MA10,ret,cus,position,BH
0,2017/07/18,10447.47,10481.26,10429.85,10481.26,4840898,NaN,NaN,NaN,0.0,0.00,0,0.00
1,2017/07/19,10472.81,10537.42,10472.81,10506.10,5429199,NaN,NaN,NaN,0.0,0.00,0,24.84
2,2017/07/20,10513.12,10534.52,10483.54,10499.36,5016236,10495.573333,NaN,NaN,0.0,0.00,0,18.10
3,2017/07/21,10468.47,10477.72,10428.56,10436.70,4167695,10480.720000,NaN,NaN,0.0,0.00,0,-44.56
4,2017/07/24,10426.13,10461.28,10406.81,10461.28,3935837,10465.780000,10476.940,NaN,0.0,0.00,0,-19.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1323,2022/12/07,14708.08,14823.15,14630.01,14630.01,6813484,14779.876667,14864.622,14803.168,0.0,4655.22,0,4148.75
1324,2022/12/08,14631.21,14634.16,14464.20,14553.04,5406640,14637.310000,14772.670,14780.072,0.0,4655.22,0,4071.78
1325,2022/12/09,14620.27,14742.79,14620.27,14705.43,5485304,14629.493333,14719.620,14772.764,0.0,4655.22,0,4224.17
1326,2022/12/12,14658.46,14658.46,14538.66,14612.59,4583948,14623.686667,14645.990,14778.336,0.0,4655.22,0,4131.33
1327,2022/12/13,14617.86,14658.70,14515.74,14522.96,4932595,14613.660000,14604.806,14759.668,0.0,4655.22,0,4041.70

In [208]:
from lib.performance_analysis import calculate_strategy_performance

# 計算策略績效
perf_s3_m3 = calculate_strategy_performance(df3)
performance_df = pd.DataFrame([perf_s3_m3])
performance_df.T

                                0
最終權益 (Mark-to-Market)     4655.22
淨利或淨損 (已實現)               4655.22
最大回撤 (MDD)                1510.48
總獲利 (已實現)                12095.58
總損失 (已實現)                -7440.36
總交易次數                         107
賺錢交易次數                         51
虧錢交易次數                         56
勝率                         47.66%
單次交易最大獲利                  1416.24
單次交易最大損失                  -510.83
獲利交易中的平均獲利             237.168235
損失交易中的平均損失            -132.863571
賺賠比                      1.785051
最長的連續性獲利的次數                     8
最長的連續性損失的次數                     8

### sample three - module four
- bb_period=8
- bb_std=1.59
- ma_long_period=12

In [209]:
%reload_ext autoreload
%autoreload 2

# 使用範例
import pandas as pd
from lib.backtest.strategy_four import backtest_strategy_four



df4 = pd.read_csv("../data/TPE-sample3.csv", encoding="utf-8")
# df4 = backtest_strategy_four(df4, bb_period=8,bb_std=1.59, ma_long_period=12)
df4 = backtest_strategy_four(df4, bb_period=5,bb_std=0.62, ma_long_period=6)
df4

,年月日,開盤價,最高價,最低價,收盤價,成交量,BB_MA,BB_STD,BB_Upper,BB_Lower,BB_MA5,MA6,ret,cus,position,BH
0,2017/07/18,10447.47,10481.26,10429.85,10481.26,4840898,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0,0.00
1,2017/07/19,10472.81,10537.42,10472.81,10506.10,5429199,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0,24.84
2,2017/07/20,10513.12,10534.52,10483.54,10499.36,5016236,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0,18.10
3,2017/07/21,10468.47,10477.72,10428.56,10436.70,4167695,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0,-44.56
4,2017/07/24,10426.13,10461.28,10406.81,10461.28,3935837,10476.940,28.443442,10494.574934,10459.305066,10476.940,NaN,0.0,0.000000,0,-19.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1323,2022/12/07,14708.08,14823.15,14630.01,14630.01,6813484,14864.622,173.318414,14972.079416,14757.164584,14864.622,14867.110000,0.0,10078.021743,0,4148.75
1324,2022/12/08,14631.21,14634.16,14464.20,14553.04,5406640,14772.670,195.581097,14893.930280,14651.409720,14772.670,14812.691667,0.0,10078.021743,0,4071.78
1325,2022/12/09,14620.27,14742.79,14620.27,14705.43,5485304,14719.620,161.438538,14819.711894,14619.528106,14719.620,14761.463333,0.0,10078.021743,0,4224.17
1326,2022/12/12,14658.46,14658.46,14538.66,14612.59,4583948,14645.990,71.439640,14690.282577,14601.697423,14645.990,14701.781667,0.0,10078.021743,0,4131.33
1327,2022/12/13,14617.86,14658.70,14515.74,14522.96,4932595,14604.806,71.062487,14648.864742,14560.747258,14604.806,14625.485000,0.0,10203.926484,-1,4041.70

In [210]:
%reload_ext autoreload
%autoreload 2

from lib.performance_analysis import calculate_strategy_performance

# 從 position 欄位產生進出場訊號
df4['entry'] = (df4['position'] == 1) & (df4['position'].shift(1) == 0)
df4['exit'] = (df4['position'] == 0) & (df4['position'].shift(1) == 1)

# 計算策略績效
perf_s3_m4 = calculate_strategy_performance(df4)

# 印出績效報告
performance_df = pd.DataFrame([perf_s3_m4])
performance_df.T

                                  0
最終權益 (Mark-to-Market)  10203.926484
淨利或淨損 (已實現)            10078.021743
最大回撤 (MDD)               718.483251
總獲利 (已實現)              16328.053713
總損失 (已實現)              -6250.031971
總交易次數                           217
賺錢交易次數                          167
虧錢交易次數                           50
勝率                           76.96%
單次交易最大獲利                 434.559168
單次交易最大損失                 -484.45853
獲利交易中的平均獲利                97.772777
損失交易中的平均損失              -125.000639
賺賠比                        0.782178
最長的連續性獲利的次數                      14
最長的連續性損失的次數                       3

### Sample Three - 績效總覽

In [211]:
# Sample Three 績效總覽
import pandas as pd

summary_s3 = pd.DataFrame({
    '模組一': perf_s3_m1,
    '模組二': perf_s3_m2,
    '模組三': perf_s3_m3,
    '模組四': perf_s3_m4
})

summary_s3

                              模組一         模組二         模組三           模組四
最終權益 (Mark-to-Market)     3536.77     5772.75     4655.22  10203.926484
淨利或淨損 (已實現)               3536.77     5772.75     4655.22  10078.021743
最大回撤 (MDD)                 352.85     1088.23     1510.48    718.483251
總獲利 (已實現)                  4086.5     9909.76    12095.58  16328.053713
總損失 (已實現)                 -549.73    -4137.01    -7440.36  -6250.031971
總交易次數                          28          57         107           217
賺錢交易次數                         17          26          51           167
虧錢交易次數                         11          31          56            50
勝率                         60.71%      45.61%      47.66%        76.96%
單次交易最大獲利                  1125.04     1615.09     1416.24    434.559168
單次交易最大損失                  -103.08     -658.98     -510.83    -484.45853
獲利交易中的平均獲利             240.382353  381.144615  237.168235     97.772777
損失交易中的平均損失             -49.975455 -133.451935 -132.863571   -125.000639
賺賠比                      4.810008    2.856044    1.785051      0.782178
最長的連續性獲利的次數                     6           4           8            14
最長的連續性損失的次數                     3           4           8             3

## 台積電

### Module One

In [212]:
%reload_ext autoreload
%autoreload 2

# 使用範例
import pandas as pd
from lib.backtest.strategy_one import backtest_strategy



df1 = pd.read_csv("../data/stocks/2330.csv", encoding="utf-8")
df1 = backtest_strategy(df1, ma_period=15, bb_period=20, bb_std=1.83, drop_threshold=0.72)
df1

,年月日,開盤價,最高價,最低價,收盤價,成交量,MA5,BB_MA,BB_STD,BB_Upper,BB_Lower,prev_gain,ret,cus,position,BH
0,2012/06/01,55.33,55.33,54.11,54.11,66924,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,0,0.00
1,2012/06/04,51.81,52.21,51.53,51.81,66008,NaN,NaN,NaN,NaN,NaN,-0.042506,0.0,0.00,0,-2.30
2,2012/06/05,52.48,52.96,52.28,52.96,37616,NaN,NaN,NaN,NaN,NaN,0.022196,0.0,0.00,0,-1.15
3,2012/06/06,52.96,53.23,52.48,52.69,33715,NaN,NaN,NaN,NaN,NaN,-0.005098,0.0,0.00,0,-1.42
4,2012/06/07,53.77,54.04,53.23,54.04,47699,NaN,NaN,NaN,NaN,NaN,0.025622,0.0,0.00,0,-0.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256,2017/07/11,170.11,173.38,169.70,173.38,34593,171.148667,170.1500,2.822339,175.314881,164.985119,0.029084,0.0,-13.74,0,119.27
1257,2017/07/12,172.56,173.79,172.16,172.16,26887,171.255333,170.5665,2.427633,175.009069,166.123931,-0.007037,0.0,-13.74,0,118.05
1258,2017/07/13,173.38,176.65,172.97,175.43,50136,171.448000,171.1070,2.229286,175.186594,167.027406,0.018994,0.0,-13.74,0,121.32
1259,2017/07/14,174.20,175.43,173.38,174.20,22364,171.611333,171.4475,2.150353,175.382647,167.512353,-0.007011,0.0,-13.74,0,120.09
1260,2017/07/17,175.84,176.25,172.97,174.20,21400,171.502000,171.7285,2.122943,175.613486,167.843514,0.000000,0.0,-13.74,0,120.09

In [213]:
from lib.performance_analysis import calculate_strategy_performance

# 從 position 欄位產生進出場訊號
df1['entry'] = (df1['position'] == 1) & (df1['position'].shift(1) == 0)
df1['exit'] = (df1['position'] == 0) & (df1['position'].shift(1) == 1)

# 計算策略績效
performance = calculate_strategy_performance(df1)
performance_df = pd.DataFrame([performance])
performance_df.T

                              0
最終權益 (Mark-to-Market)    -13.74
淨利或淨損 (已實現)              -13.74
最大回撤 (MDD)                21.45
總獲利 (已實現)                 11.77
總損失 (已實現)                -25.51
總交易次數                        28
賺錢交易次數                        8
虧錢交易次數                       20
勝率                       28.57%
單次交易最大獲利                   5.78
單次交易最大損失                  -3.56
獲利交易中的平均獲利              1.47125
損失交易中的平均損失              -1.2755
賺賠比                    1.153469
最長的連續性獲利的次數                   2
最長的連續性損失的次數                   6

### Module Two

In [214]:
%reload_ext autoreload
%autoreload 2

import pandas as pd
from lib.backtest.strategy_two import backtest_strategy_two

df2 = pd.read_csv("../data/stocks/2330.csv", encoding="utf-8")
df2 = backtest_strategy_two(df2, short_ma_period=7, long_ma_period=12)
df2

,年月日,開盤價,最高價,最低價,收盤價,成交量,MA7,MA12,ret,cus,position,BH
0,2012/06/01,55.33,55.33,54.11,54.11,66924,NaN,NaN,0.0,0.00,0,0.00
1,2012/06/04,51.81,52.21,51.53,51.81,66008,NaN,NaN,0.0,0.00,0,-2.30
2,2012/06/05,52.48,52.96,52.28,52.96,37616,NaN,NaN,0.0,0.00,0,-1.15
3,2012/06/06,52.96,53.23,52.48,52.69,33715,NaN,NaN,0.0,0.00,0,-1.42
4,2012/06/07,53.77,54.04,53.23,54.04,47699,NaN,NaN,0.0,0.00,0,-0.07
...,...,...,...,...,...,...,...,...,...,...,...,...
1256,2017/07/11,170.11,173.38,169.70,173.38,34593,170.111429,171.031667,0.0,10.46,0,119.27
1257,2017/07/12,172.56,173.79,172.16,172.16,26887,170.287143,170.725000,0.0,10.46,0,118.05
1258,2017/07/13,173.38,176.65,172.97,175.43,50136,171.164286,170.930000,0.0,10.46,0,121.32
1259,2017/07/14,174.20,175.43,173.38,174.20,22364,171.690000,171.236667,0.0,10.46,1,120.09
1260,2017/07/17,175.84,176.25,172.97,174.20,21400,172.332857,171.440833,0.0,10.46,1,120.09

In [215]:
from lib.performance_analysis import calculate_strategy_performance

# 計算策略績效
performance = calculate_strategy_performance(df2)
performance_df = pd.DataFrame([performance])
performance_df.T

                              0
最終權益 (Mark-to-Market)     10.46
淨利或淨損 (已實現)               10.46
最大回撤 (MDD)                19.81
總獲利 (已實現)                 53.08
總損失 (已實現)                -42.62
總交易次數                        52
賺錢交易次數                       25
虧錢交易次數                       27
勝率                       48.08%
單次交易最大獲利                    8.7
單次交易最大損失                  -4.57
獲利交易中的平均獲利               2.1232
損失交易中的平均損失            -1.578519
賺賠比                    1.345059
最長的連續性獲利的次數                   4
最長的連續性損失的次數                   4

### Module Three

In [216]:
%reload_ext autoreload
%autoreload 2

import pandas as pd
from lib.backtest.strategy_three import backtest_strategy_three

df3 = pd.read_csv("../data/stocks/2330.csv", encoding="utf-8")
df3 = backtest_strategy_three(df3)
df3

,年月日,開盤價,最高價,最低價,收盤價,成交量,MA3,MA5,MA10,ret,cus,position,BH
0,2012/06/01,55.33,55.33,54.11,54.11,66924,NaN,NaN,NaN,0.0,0.00,0,0.00
1,2012/06/04,51.81,52.21,51.53,51.81,66008,NaN,NaN,NaN,0.0,0.00,0,-2.30
2,2012/06/05,52.48,52.96,52.28,52.96,37616,52.960000,NaN,NaN,0.0,0.00,0,-1.15
3,2012/06/06,52.96,53.23,52.48,52.69,33715,52.486667,NaN,NaN,0.0,0.00,0,-1.42
4,2012/06/07,53.77,54.04,53.23,54.04,47699,53.230000,53.122,NaN,0.0,0.00,0,-0.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256,2017/07/11,170.11,173.38,169.70,173.38,34593,170.113333,170.112,170.357,0.0,9.84,0,119.27
1257,2017/07/12,172.56,173.79,172.16,172.16,26887,171.340000,170.440,170.521,0.0,9.84,0,118.05
1258,2017/07/13,173.38,176.65,172.97,175.43,50136,173.656667,171.586,170.889,0.0,9.84,0,121.32
1259,2017/07/14,174.20,175.43,173.38,174.20,22364,173.930000,172.730,171.257,0.0,9.84,1,120.09
1260,2017/07/17,175.84,176.25,172.97,174.20,21400,174.610000,173.874,171.584,0.0,9.84,1,120.09

In [217]:
from lib.performance_analysis import calculate_strategy_performance

# 計算策略績效
performance = calculate_strategy_performance(df3)
performance_df = pd.DataFrame([performance])
performance_df.T

                              0
最終權益 (Mark-to-Market)      9.84
淨利或淨損 (已實現)                9.84
最大回撤 (MDD)                21.72
總獲利 (已實現)                 94.76
總損失 (已實現)                -84.92
總交易次數                        98
賺錢交易次數                       42
虧錢交易次數                       56
勝率                       42.86%
單次交易最大獲利                   9.89
單次交易最大損失                  -6.48
獲利交易中的平均獲利              2.25619
損失交易中的平均損失            -1.516429
賺賠比                    1.487832
最長的連續性獲利的次數                   4
最長的連續性損失的次數                   5

### Module Four

In [218]:
%reload_ext autoreload
%autoreload 2

# 使用範例
import pandas as pd
from lib.backtest.strategy_four import backtest_strategy_four



df4 = pd.read_csv("../data/stocks/2330.csv", encoding="utf-8")
# df4 = backtest_strategy_four(df4, bb_period=8,bb_std=1.59, ma_long_period=12)
df4 = backtest_strategy_four(df4, bb_period=5,bb_std=0.62, ma_long_period=6)
df4

,年月日,開盤價,最高價,最低價,收盤價,成交量,BB_MA,BB_STD,BB_Upper,BB_Lower,BB_MA5,MA6,ret,cus,position,BH
0,2012/06/01,55.33,55.33,54.11,54.11,66924,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0,0.00
1,2012/06/04,51.81,52.21,51.53,51.81,66008,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0,-2.30
2,2012/06/05,52.48,52.96,52.28,52.96,37616,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0,-1.15
3,2012/06/06,52.96,53.23,52.48,52.69,33715,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0,-1.42
4,2012/06/07,53.77,54.04,53.23,54.04,47699,53.122,0.968643,53.722559,52.521441,53.122,NaN,0.0,0.000000,0,-0.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256,2017/07/11,170.11,173.38,169.70,173.38,34593,170.112,2.021316,171.365216,168.858784,170.112,169.975000,0.0,166.805155,0,119.27
1257,2017/07/12,172.56,173.79,172.16,172.16,26887,170.440,2.226702,171.820555,169.059445,170.440,170.453333,0.0,166.805155,0,118.05
1258,2017/07/13,173.38,176.65,172.97,175.43,50136,171.586,3.066705,173.487357,169.684643,171.586,171.271667,0.0,166.805155,0,121.32
1259,2017/07/14,174.20,175.43,173.38,174.20,22364,172.730,2.658044,174.377988,171.082012,172.730,172.021667,0.0,166.805155,0,120.09
1260,2017/07/17,175.84,176.25,172.97,174.20,21400,173.874,1.205769,174.621577,173.126423,173.874,172.975000,0.0,167.878732,1,120.09

In [219]:
%reload_ext autoreload
%autoreload 2

from lib.performance_analysis import calculate_strategy_performance

# 從 position 欄位產生進出場訊號
# 當 position 從 0 變成 1 時，是進場訊號
df4['entry'] = (df4['position'] == 1) & (df4['position'].shift(1) == 0)

# 當 position 從 1 變成 0 時，是出場訊號
df4['exit'] = (df4['position'] == 0) & (df4['position'].shift(1) == 1)

# 計算策略績效
performance = calculate_strategy_performance(
    df4,
)

# 印出績效報告
performance_df = pd.DataFrame([performance])

# 存成csv檔案
# performance_df.T.to_csv('module_four_2330.csv',
#                         header=['Value'],  # 欄位名稱 (y 軸)
#                         index_label='Metric')  # 列名 (x 軸)

performance_df.T

                                0
最終權益 (Mark-to-Market)  167.878732
淨利或淨損 (已實現)            166.805155
最大回撤 (MDD)               9.483669
總獲利 (已實現)              258.121394
總損失 (已實現)              -91.316239
總交易次數                         290
賺錢交易次數                        232
虧錢交易次數                         58
勝率                         80.00%
單次交易最大獲利                 3.639181
單次交易最大損失                  -7.6055
獲利交易中的平均獲利               1.112592
損失交易中的平均損失              -1.574418
賺賠比                      0.706669
最長的連續性獲利的次數                    41
最長的連續性損失的次數                     3

### 台積電 (2330) - 績效總覽

In [220]:
# 台積電 績效總覽
import pandas as pd
from lib.performance_analysis import calculate_strategy_performance

summary_2330 = pd.DataFrame({
    '模組一': calculate_strategy_performance(df1),
    '模組二': calculate_strategy_performance(df2),
    '模組三': calculate_strategy_performance(df3),
    '模組四': calculate_strategy_performance(df4)
})

summary_2330

                            模組一       模組二       模組三         模組四
最終權益 (Mark-to-Market)    -13.74     10.46      9.84  167.878732
淨利或淨損 (已實現)              -13.74     10.46      9.84  166.805155
最大回撤 (MDD)                21.45     19.81     21.72    9.483669
總獲利 (已實現)                 11.77     53.08     94.76  258.121394
總損失 (已實現)                -25.51    -42.62    -84.92  -91.316239
總交易次數                        28        52        98         290
賺錢交易次數                        8        25        42         232
虧錢交易次數                       20        27        56          58
勝率                       28.57%    48.08%    42.86%      80.00%
單次交易最大獲利                   5.78       8.7      9.89    3.639181
單次交易最大損失                  -3.56     -4.57     -6.48     -7.6055
獲利交易中的平均獲利              1.47125    2.1232   2.25619    1.112592
損失交易中的平均損失              -1.2755 -1.578519 -1.516429   -1.574418
賺賠比                    1.153469  1.345059  1.487832    0.706669
最長的連續性獲利的次數                   2         4         4          41
最長的連續性損失的次數                   6         4         5           3

## 鴻海

### Module One

In [221]:
%reload_ext autoreload
%autoreload 2

# 使用範例
import pandas as pd
from lib.backtest.strategy_one import backtest_strategy



df1 = pd.read_csv("../data/stocks/2317.csv", encoding="utf-8")
df1 = backtest_strategy(df1, ma_period=15, bb_period=20, bb_std=1.83, drop_threshold=0.72)
df1

,年月日,開盤價,最高價,最低價,收盤價,成交量,成交值,MA5,BB_MA,BB_STD,BB_Upper,BB_Lower,prev_gain,ret,cus,position,BH
0,2012/06/01,41.00,41.19,40.15,40.15,36539.0,3146215.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,0,0.00
1,2012/06/04,39.07,39.40,38.08,38.60,45093.0,3705385.0,NaN,NaN,NaN,NaN,NaN,-0.038605,0.0,0.00,0,-1.55
2,2012/06/05,39.21,39.54,38.36,38.69,28335.0,2335503.0,NaN,NaN,NaN,NaN,NaN,0.002332,0.0,0.00,0,-1.46
3,2012/06/06,39.26,39.30,38.46,38.97,24954.0,2064016.0,NaN,NaN,NaN,NaN,NaN,0.007237,0.0,0.00,0,-1.18
4,2012/06/07,40.01,40.01,39.30,39.49,27580.0,2324375.0,NaN,NaN,NaN,NaN,NaN,0.013344,0.0,0.00,0,-0.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256,2017/07/11,99.26,100.53,98.83,100.53,75118.0,8852444.0,98.579333,96.5650,4.610210,105.001684,88.128316,0.025921,0.0,-6.21,0,60.38
1257,2017/07/12,100.53,101.38,100.11,100.53,91355.0,10838373.0,98.890667,97.2650,4.033065,104.645510,89.884490,0.000000,0.0,-6.21,0,60.38
1258,2017/07/13,101.85,102.29,101.41,101.85,83078.0,9607891.0,99.318000,98.0095,3.346564,104.133712,91.885288,0.013130,0.0,-6.21,0,61.70
1259,2017/07/14,102.29,102.29,101.41,101.85,35813.0,4140224.0,99.745333,98.6480,2.711090,103.609294,93.686706,0.000000,0.0,-6.21,0,61.70
1260,2017/07/17,102.29,102.29,101.41,101.85,35526.0,4107831.0,99.748667,99.0955,2.437193,103.555563,94.635437,0.000000,0.0,-6.21,0,61.70

In [222]:
from lib.performance_analysis import calculate_strategy_performance

# 從 position 欄位產生進出場訊號
df1['entry'] = (df1['position'] == 1) & (df1['position'].shift(1) == 0)
df1['exit'] = (df1['position'] == 0) & (df1['position'].shift(1) == 1)

# 計算策略績效
performance = calculate_strategy_performance(df1)
performance_df = pd.DataFrame([performance])
performance_df.T

                              0
最終權益 (Mark-to-Market)     -6.21
淨利或淨損 (已實現)               -6.21
最大回撤 (MDD)                 7.59
總獲利 (已實現)                  16.4
總損失 (已實現)                -22.61
總交易次數                        46
賺錢交易次數                       14
虧錢交易次數                       32
勝率                       30.43%
單次交易最大獲利                   4.67
單次交易最大損失                  -2.54
獲利交易中的平均獲利             1.171429
損失交易中的平均損失            -0.706563
賺賠比                    1.657926
最長的連續性獲利的次數                   3
最長的連續性損失的次數                   7

### Module Two

In [223]:
%reload_ext autoreload
%autoreload 2

import pandas as pd
from lib.backtest.strategy_two import backtest_strategy_two

df2 = pd.read_csv("../data/stocks/2317.csv", encoding="utf-8")
df2 = backtest_strategy_two(df2, short_ma_period=7, long_ma_period=12)
df2

,年月日,開盤價,最高價,最低價,收盤價,成交量,成交值,MA7,MA12,ret,cus,position,BH
0,2012/06/01,41.00,41.19,40.15,40.15,36539.0,3146215.0,NaN,NaN,0.0,0.00,0,0.00
1,2012/06/04,39.07,39.40,38.08,38.60,45093.0,3705385.0,NaN,NaN,0.0,0.00,0,-1.55
2,2012/06/05,39.21,39.54,38.36,38.69,28335.0,2335503.0,NaN,NaN,0.0,0.00,0,-1.46
3,2012/06/06,39.26,39.30,38.46,38.97,24954.0,2064016.0,NaN,NaN,0.0,0.00,0,-1.18
4,2012/06/07,40.01,40.01,39.30,39.49,27580.0,2324375.0,NaN,NaN,0.0,0.00,0,-0.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256,2017/07/11,99.26,100.53,98.83,100.53,75118.0,8852444.0,98.107143,99.329167,0.0,1.00,0,60.38
1257,2017/07/12,100.53,101.38,100.11,100.53,91355.0,10838373.0,98.350000,99.223333,0.0,1.00,0,60.38
1258,2017/07/13,101.85,102.29,101.41,101.85,83078.0,9607891.0,99.205714,99.120833,0.0,1.00,0,61.70
1259,2017/07/14,102.29,102.29,101.41,101.85,35813.0,4140224.0,99.697143,99.265833,0.0,0.56,1,61.70
1260,2017/07/17,102.29,102.29,101.41,101.85,35526.0,4107831.0,100.248571,99.340833,0.0,0.56,1,61.70

In [224]:
from lib.performance_analysis import calculate_strategy_performance

# 計算策略績效
performance = calculate_strategy_performance(df2)
performance_df = pd.DataFrame([performance])
performance_df.T

                              0
最終權益 (Mark-to-Market)      0.56
淨利或淨損 (已實現)                 1.0
最大回撤 (MDD)                 17.4
總獲利 (已實現)                 29.49
總損失 (已實現)                -28.49
總交易次數                        52
賺錢交易次數                       18
虧錢交易次數                       34
勝率                       34.62%
單次交易最大獲利                    4.5
單次交易最大損失                   -2.5
獲利交易中的平均獲利             1.638333
損失交易中的平均損失            -0.837941
賺賠比                    1.955189
最長的連續性獲利的次數                   3
最長的連續性損失的次數                   9

### Module Three

In [225]:
%reload_ext autoreload
%autoreload 2

import pandas as pd
from lib.backtest.strategy_three import backtest_strategy_three

df3 = pd.read_csv("../data/stocks/2317.csv", encoding="utf-8")
df3 = backtest_strategy_three(df3)
df3

,年月日,開盤價,最高價,最低價,收盤價,成交量,成交值,MA3,MA5,MA10,ret,cus,position,BH
0,2012/06/01,41.00,41.19,40.15,40.15,36539.0,3146215.0,NaN,NaN,NaN,0.0,0.00,0,0.00
1,2012/06/04,39.07,39.40,38.08,38.60,45093.0,3705385.0,NaN,NaN,NaN,0.0,0.00,0,-1.55
2,2012/06/05,39.21,39.54,38.36,38.69,28335.0,2335503.0,39.146667,NaN,NaN,0.0,0.00,0,-1.46
3,2012/06/06,39.26,39.30,38.46,38.97,24954.0,2064016.0,38.753333,NaN,NaN,0.0,0.00,0,-1.18
4,2012/06/07,40.01,40.01,39.30,39.49,27580.0,2324375.0,39.050000,39.180,NaN,0.0,0.00,0,-0.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256,2017/07/11,99.26,100.53,98.83,100.53,75118.0,8852444.0,98.553333,98.412,98.707,0.0,22.76,0,60.38
1257,2017/07/12,100.53,101.38,100.11,100.53,91355.0,10838373.0,99.683333,98.836,98.749,0.0,22.76,0,60.38
1258,2017/07/13,101.85,102.29,101.41,101.85,83078.0,9607891.0,100.970000,99.608,98.839,0.0,22.76,1,61.70
1259,2017/07/14,102.29,102.29,101.41,101.85,35813.0,4140224.0,101.410000,100.550,99.098,0.0,22.76,1,61.70
1260,2017/07/17,102.29,102.29,101.41,101.85,35526.0,4107831.0,101.850000,101.322,99.400,0.0,22.76,1,61.70

In [226]:
from lib.performance_analysis import calculate_strategy_performance

# 計算策略績效
performance = calculate_strategy_performance(df3)
performance_df = pd.DataFrame([performance])
performance_df.T

                              0
最終權益 (Mark-to-Market)     22.76
淨利或淨損 (已實現)               22.76
最大回撤 (MDD)                12.06
總獲利 (已實現)                 64.11
總損失 (已實現)                -41.35
總交易次數                        95
賺錢交易次數                       37
虧錢交易次數                       58
勝率                       38.95%
單次交易最大獲利                   4.84
單次交易最大損失                  -2.72
獲利交易中的平均獲利             1.732703
損失交易中的平均損失            -0.712931
賺賠比                    2.430393
最長的連續性獲利的次數                   4
最長的連續性損失的次數                   6

### Module Four

In [227]:
%reload_ext autoreload
%autoreload 2

# 使用範例
import pandas as pd
from lib.backtest.strategy_four import backtest_strategy_four



df4 = pd.read_csv("../data/stocks/2317.csv", encoding="utf-8")
# df4 = backtest_strategy_four(df4, bb_period=8,bb_std=1.59, ma_long_period=12)
df4 = backtest_strategy_four(df4, bb_period=5,bb_std=0.62, ma_long_period=6)
df4

,年月日,開盤價,最高價,最低價,收盤價,成交量,成交值,BB_MA,BB_STD,BB_Upper,BB_Lower,BB_MA5,MA6,ret,cus,position,BH
0,2012/06/01,41.00,41.19,40.15,40.15,36539.0,3146215.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0,0.00
1,2012/06/04,39.07,39.40,38.08,38.60,45093.0,3705385.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0,-1.55
2,2012/06/05,39.21,39.54,38.36,38.69,28335.0,2335503.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0,-1.46
3,2012/06/06,39.26,39.30,38.46,38.97,24954.0,2064016.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0,-1.18
4,2012/06/07,40.01,40.01,39.30,39.49,27580.0,2324375.0,39.180,0.643739,39.579118,38.780882,39.180,NaN,0.0,0.000000,0,-0.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256,2017/07/11,99.26,100.53,98.83,100.53,75118.0,8852444.0,98.412,1.270834,99.199917,97.624083,98.412,97.986667,0.0,93.551398,0,60.38
1257,2017/07/12,100.53,101.38,100.11,100.53,91355.0,10838373.0,98.836,1.584860,99.818613,97.853387,98.836,98.765000,0.0,93.551398,0,60.38
1258,2017/07/13,101.85,102.29,101.41,101.85,83078.0,9607891.0,99.608,1.964413,100.825936,98.390064,99.608,99.338333,0.0,93.551398,0,61.70
1259,2017/07/14,102.29,102.29,101.41,101.85,35813.0,4140224.0,100.550,1.575944,101.527085,99.572915,100.550,99.981667,0.0,93.551398,0,61.70
1260,2017/07/17,102.29,102.29,101.41,101.85,35526.0,4107831.0,101.322,0.722994,101.770256,100.873744,101.322,100.766667,0.0,93.551398,0,61.70

In [228]:
%reload_ext autoreload
%autoreload 2

from lib.performance_analysis import calculate_strategy_performance

# 從 position 欄位產生進出場訊號
# 當 position 從 0 變成 1 時，是進場訊號
df4['entry'] = (df4['position'] == 1) & (df4['position'].shift(1) == 0)

# 當 position 從 1 變成 0 時，是出場訊號
df4['exit'] = (df4['position'] == 0) & (df4['position'].shift(1) == 1)

# 計算策略績效
performance = calculate_strategy_performance(
    df4,
)

# 印出績效報告
performance_df = pd.DataFrame([performance])

# 存成csv檔案
# performance_df.T.to_csv('module_four_2317.csv',
#                         header=['Value'],  # 欄位名稱 (y 軸)
#                         index_label='Metric')  # 列名 (x 軸)

performance_df.T

                                0
最終權益 (Mark-to-Market)   93.551398
淨利或淨損 (已實現)             93.551398
最大回撤 (MDD)               7.872221
總獲利 (已實現)              148.207588
總損失 (已實現)               -54.65619
總交易次數                         308
賺錢交易次數                        258
虧錢交易次數                         50
勝率                         83.77%
單次交易最大獲利                 2.151844
單次交易最大損失                -5.631139
獲利交易中的平均獲利               0.574448
損失交易中的平均損失              -1.093124
賺賠比                       0.52551
最長的連續性獲利的次數                    52
最長的連續性損失的次數                     4

### 鴻海 (2317) - 績效總覽

In [229]:
# 鴻海 績效總覽
import pandas as pd
from lib.performance_analysis import calculate_strategy_performance

summary_2317 = pd.DataFrame({
    '模組一': calculate_strategy_performance(df1),
    '模組二': calculate_strategy_performance(df2),
    '模組三': calculate_strategy_performance(df3),
    '模組四': calculate_strategy_performance(df4)
})

summary_2317

                            模組一       模組二       模組三         模組四
最終權益 (Mark-to-Market)     -6.21      0.56     22.76   93.551398
淨利或淨損 (已實現)               -6.21       1.0     22.76   93.551398
最大回撤 (MDD)                 7.59      17.4     12.06    7.872221
總獲利 (已實現)                  16.4     29.49     64.11  148.207588
總損失 (已實現)                -22.61    -28.49    -41.35   -54.65619
總交易次數                        46        52        95         308
賺錢交易次數                       14        18        37         258
虧錢交易次數                       32        34        58          50
勝率                       30.43%    34.62%    38.95%      83.77%
單次交易最大獲利                   4.67       4.5      4.84    2.151844
單次交易最大損失                  -2.54      -2.5     -2.72   -5.631139
獲利交易中的平均獲利             1.171429  1.638333  1.732703    0.574448
損失交易中的平均損失            -0.706563 -0.837941 -0.712931   -1.093124
賺賠比                    1.657926  1.955189  2.430393     0.52551
最長的連續性獲利的次數                   3         3         4          52
最長的連續性損失的次數                   7         9         6           4

## 中華電信

### Module One

In [230]:
%reload_ext autoreload
%autoreload 2

# 使用範例
import pandas as pd
from lib.backtest.strategy_one import backtest_strategy



df1 = pd.read_csv("../data/stocks/2412.csv", encoding="utf-8")
df1 = backtest_strategy(df1, ma_period=15, bb_period=20, bb_std=1.83, drop_threshold=0.72)
df1

,年月日,開盤價,最高價,最低價,收盤價,成交量,MA5,BB_MA,BB_STD,BB_Upper,BB_Lower,prev_gain,ret,cus,position,BH
0,2012/06/01,48.28,48.82,48.23,48.50,7533,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,0,0.00
1,2012/06/04,48.23,48.50,48.23,48.34,10269,NaN,NaN,NaN,NaN,NaN,-0.003299,0.0,0.00,0,-0.16
2,2012/06/05,48.50,48.66,48.39,48.50,5734,NaN,NaN,NaN,NaN,NaN,0.003310,0.0,0.00,0,0.00
3,2012/06/06,48.55,48.93,48.44,48.87,5105,NaN,NaN,NaN,NaN,NaN,0.007629,0.0,0.00,0,0.37
4,2012/06/07,48.93,48.98,48.50,48.93,6705,NaN,NaN,NaN,NaN,NaN,0.001228,0.0,0.00,0,0.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256,2017/07/11,75.84,76.19,75.49,76.19,18393,75.840000,75.735,0.360883,76.395417,75.074583,0.004615,0.0,2.98,0,27.69
1257,2017/07/12,76.19,76.54,75.84,76.19,17037,75.910000,75.770,0.369708,76.446566,75.093434,0.000000,0.0,2.98,0,27.69
1258,2017/07/13,76.19,76.54,76.19,76.54,17450,75.956667,75.805,0.407851,76.551367,75.058633,0.004594,0.0,2.98,0,28.04
1259,2017/07/14,76.54,76.89,76.19,76.54,10959,76.003333,75.875,0.407851,76.621367,75.128633,0.000000,0.0,2.98,0,28.04
1260,2017/07/17,76.54,77.24,76.54,76.89,20894,76.050000,75.945,0.455637,76.778816,75.111184,0.004573,0.0,2.98,0,28.39

In [231]:
from lib.performance_analysis import calculate_strategy_performance

# 從 position 欄位產生進出場訊號
df1['entry'] = (df1['position'] == 1) & (df1['position'].shift(1) == 0)
df1['exit'] = (df1['position'] == 0) & (df1['position'].shift(1) == 1)

# 計算策略績效
performance = calculate_strategy_performance(df1)
performance_df = pd.DataFrame([performance])
performance_df.T

                              0
最終權益 (Mark-to-Market)      2.98
淨利或淨損 (已實現)                2.98
最大回撤 (MDD)                 2.72
總獲利 (已實現)                  7.47
總損失 (已實現)                 -4.49
總交易次數                        31
賺錢交易次數                       15
虧錢交易次數                       16
勝率                       48.39%
單次交易最大獲利                   2.33
單次交易最大損失                  -0.67
獲利交易中的平均獲利                0.498
損失交易中的平均損失            -0.280625
賺賠比                     1.77461
最長的連續性獲利的次數                   3
最長的連續性損失的次數                   4

### Module Two

In [232]:
%reload_ext autoreload
%autoreload 2

import pandas as pd
from lib.backtest.strategy_two import backtest_strategy_two

df2 = pd.read_csv("../data/stocks/2412.csv", encoding="utf-8")
df2 = backtest_strategy_two(df2, short_ma_period=7, long_ma_period=12)
df2

,年月日,開盤價,最高價,最低價,收盤價,成交量,MA7,MA12,ret,cus,position,BH
0,2012/06/01,48.28,48.82,48.23,48.50,7533,NaN,NaN,0.0,0.00,0,0.00
1,2012/06/04,48.23,48.50,48.23,48.34,10269,NaN,NaN,0.0,0.00,0,-0.16
2,2012/06/05,48.50,48.66,48.39,48.50,5734,NaN,NaN,0.0,0.00,0,0.00
3,2012/06/06,48.55,48.93,48.44,48.87,5105,NaN,NaN,0.0,0.00,0,0.37
4,2012/06/07,48.93,48.98,48.50,48.93,6705,NaN,NaN,0.0,0.00,0,0.43
...,...,...,...,...,...,...,...,...,...,...,...,...
1256,2017/07/11,75.84,76.19,75.49,76.19,18393,75.94,75.898333,0.0,-2.49,0,27.69
1257,2017/07/12,76.19,76.54,75.84,76.19,17037,75.94,75.898333,0.0,-2.49,1,27.69
1258,2017/07/13,76.19,76.54,76.19,76.54,17450,76.09,75.927500,0.0,-2.14,1,28.04
1259,2017/07/14,76.54,76.89,76.19,76.54,10959,76.14,75.985833,0.0,-2.14,1,28.04
1260,2017/07/17,76.54,77.24,76.54,76.89,20894,76.29,76.102500,0.0,-1.79,1,28.39

In [233]:
from lib.performance_analysis import calculate_strategy_performance

# 計算策略績效
performance = calculate_strategy_performance(df2)
performance_df = pd.DataFrame([performance])
performance_df.T

                              0
最終權益 (Mark-to-Market)     -1.79
淨利或淨損 (已實現)               -2.49
最大回撤 (MDD)                 7.27
總獲利 (已實現)                 11.73
總損失 (已實現)                -14.22
總交易次數                        50
賺錢交易次數                       16
虧錢交易次數                       34
勝率                       32.00%
單次交易最大獲利                   2.09
單次交易最大損失                   -1.4
獲利交易中的平均獲利             0.733125
損失交易中的平均損失            -0.418235
賺賠比                    1.752901
最長的連續性獲利的次數                   4
最長的連續性損失的次數                   6

### Module Three

In [234]:
%reload_ext autoreload
%autoreload 2

import pandas as pd
from lib.backtest.strategy_three import backtest_strategy_three

df3 = pd.read_csv("../data/stocks/2412.csv", encoding="utf-8")
df3 = backtest_strategy_three(df3)
df3

,年月日,開盤價,最高價,最低價,收盤價,成交量,MA3,MA5,MA10,ret,cus,position,BH
0,2012/06/01,48.28,48.82,48.23,48.50,7533,NaN,NaN,NaN,0.00,0.00,0,0.00
1,2012/06/04,48.23,48.50,48.23,48.34,10269,NaN,NaN,NaN,0.00,0.00,0,-0.16
2,2012/06/05,48.50,48.66,48.39,48.50,5734,48.446667,NaN,NaN,0.00,0.00,0,0.00
3,2012/06/06,48.55,48.93,48.44,48.87,5105,48.570000,NaN,NaN,0.00,0.00,0,0.37
4,2012/06/07,48.93,48.98,48.50,48.93,6705,48.766667,48.628,NaN,0.00,0.00,0,0.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256,2017/07/11,75.84,76.19,75.49,76.19,18393,75.956667,75.980,75.840,0.35,5.74,0,27.69
1257,2017/07/12,76.19,76.54,75.84,76.19,17037,76.073333,75.980,75.875,0.00,5.74,0,27.69
1258,2017/07/13,76.19,76.54,76.19,76.54,17450,76.306667,76.120,75.980,0.00,6.09,1,28.04
1259,2017/07/14,76.54,76.89,76.19,76.54,10959,76.423333,76.260,76.085,0.00,6.09,1,28.04
1260,2017/07/17,76.54,77.24,76.54,76.89,20894,76.656667,76.470,76.155,0.00,6.44,1,28.39

In [235]:
from lib.performance_analysis import calculate_strategy_performance

# 計算策略績效
performance = calculate_strategy_performance(df3)
performance_df = pd.DataFrame([performance])
performance_df.T

                              0
最終權益 (Mark-to-Market)      6.44
淨利或淨損 (已實現)                5.74
最大回撤 (MDD)                 5.54
總獲利 (已實現)                 26.74
總損失 (已實現)                 -21.0
總交易次數                        87
賺錢交易次數                       35
虧錢交易次數                       52
勝率                       40.23%
單次交易最大獲利                   2.67
單次交易最大損失                  -1.67
獲利交易中的平均獲利                0.764
損失交易中的平均損失            -0.403846
賺賠比                     1.89181
最長的連續性獲利的次數                   4
最長的連續性損失的次數                   5

### Module Four

In [236]:
%reload_ext autoreload
%autoreload 2

# 使用範例
import pandas as pd
from lib.backtest.strategy_four import backtest_strategy_four



df4 = pd.read_csv("../data/stocks/2412.csv", encoding="utf-8")
# df4 = backtest_strategy_four(df4, bb_period=8,bb_std=1.59, ma_long_period=12)
df4 = backtest_strategy_four(df4, bb_period=5,bb_std=0.62, ma_long_period=6)
df4

,年月日,開盤價,最高價,最低價,收盤價,成交量,BB_MA,BB_STD,BB_Upper,BB_Lower,BB_MA5,MA6,ret,cus,position,BH
0,2012/06/01,48.28,48.82,48.23,48.50,7533,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0,0.00
1,2012/06/04,48.23,48.50,48.23,48.34,10269,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0,-0.16
2,2012/06/05,48.50,48.66,48.39,48.50,5734,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0,0.00
3,2012/06/06,48.55,48.93,48.44,48.87,5105,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0,0.37
4,2012/06/07,48.93,48.98,48.50,48.93,6705,48.628,0.257624,48.787727,48.468273,48.628,NaN,0.000000,0.000000,0,0.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256,2017/07/11,75.84,76.19,75.49,76.19,18393,75.980,0.191703,76.098856,75.861144,75.980,75.898333,0.132298,118.680347,1,27.69
1257,2017/07/12,76.19,76.54,75.84,76.19,17037,75.980,0.191703,76.098856,75.861144,75.980,76.015000,0.237712,118.918059,1,27.69
1258,2017/07/13,76.19,76.54,76.19,76.54,17450,76.120,0.292831,76.301555,75.938445,76.120,76.073333,0.440411,119.029614,0,28.04
1259,2017/07/14,76.54,76.89,76.19,76.54,10959,76.260,0.292831,76.441555,76.078445,76.260,76.190000,0.000000,119.029614,0,28.04
1260,2017/07/17,76.54,77.24,76.54,76.89,20894,76.470,0.292831,76.651555,76.288445,76.470,76.365000,0.000000,119.029614,0,28.39

In [237]:
%reload_ext autoreload
%autoreload 2

from lib.performance_analysis import calculate_strategy_performance

# 從 position 欄位產生進出場訊號
# 當 position 從 0 變成 1 時，是進場訊號
df4['entry'] = (df4['position'] == 1) & (df4['position'].shift(1) == 0)

# 當 position 從 1 變成 0 時，是出場訊號
df4['exit'] = (df4['position'] == 0) & (df4['position'].shift(1) == 1)

# 計算策略績效
performance = calculate_strategy_performance(
    df4,
)

# 印出績效報告
performance_df = pd.DataFrame([performance])

# 存成csv檔案
performance_df.T.to_csv('module_four_2412.csv',
                        header=['Value'],  # 欄位名稱 (y 軸)
                        index_label='Metric')  # 列名 (x 軸)

performance_df.T

                                0
最終權益 (Mark-to-Market)  119.029614
淨利或淨損 (已實現)            119.029614
最大回撤 (MDD)               2.313105
總獲利 (已實現)              137.136954
總損失 (已實現)               -18.10734
總交易次數                         448
賺錢交易次數                        402
虧錢交易次數                         46
勝率                         89.73%
單次交易最大獲利                 1.975218
單次交易最大損失                -1.771144
獲利交易中的平均獲利               0.341137
損失交易中的平均損失              -0.393638
賺賠比                      0.866626
最長的連續性獲利的次數                    46
最長的連續性損失的次數                     3

### 中華電信 (2412) - 績效總覽

In [238]:
# 中華電信 績效總覽
import pandas as pd
from lib.performance_analysis import calculate_strategy_performance

summary_2412 = pd.DataFrame({
    '模組一': calculate_strategy_performance(df1),
    '模組二': calculate_strategy_performance(df2),
    '模組三': calculate_strategy_performance(df3),
    '模組四': calculate_strategy_performance(df4)
})

summary_2412

                            模組一       模組二       模組三         模組四
最終權益 (Mark-to-Market)      2.98     -1.79      6.44  119.029614
淨利或淨損 (已實現)                2.98     -2.49      5.74  119.029614
最大回撤 (MDD)                 2.72      7.27      5.54    2.313105
總獲利 (已實現)                  7.47     11.73     26.74  137.136954
總損失 (已實現)                 -4.49    -14.22     -21.0   -18.10734
總交易次數                        31        50        87         448
賺錢交易次數                       15        16        35         402
虧錢交易次數                       16        34        52          46
勝率                       48.39%    32.00%    40.23%      89.73%
單次交易最大獲利                   2.33      2.09      2.67    1.975218
單次交易最大損失                  -0.67      -1.4     -1.67   -1.771144
獲利交易中的平均獲利                0.498  0.733125     0.764    0.341137
損失交易中的平均損失            -0.280625 -0.418235 -0.403846   -0.393638
賺賠比                     1.77461  1.752901   1.89181    0.866626
最長的連續性獲利的次數                   3         4         4          46
最長的連續性損失的次數                   4         6         5           3